# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/

# iOS
ios/Flutter/
ios/Runner/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/

# General
.DS_Store
.idea/
*.iml
*.log
